@media (max-width: 48rem) {
    .list {
        gap: 1.5rem !important;
        margin-bottom: 2rem !important;
        padding-inline: 0 !important;
    }
}

@media (min-width: 48.001rem) {
  .list {
    width: 92% !important;
    max-width: 66rem;
    margin-inline: auto;
    padding-inline: 0 !important;
    gap: 3rem !important;
  }
}
